{% extends '@Sales/Layout/layout.twig' %}

{% block section_title %}
    {{ 'Clickhouse Analytics - User Journeys' | trans }}
{% endblock %}

{% block content %}
    <h2>Last hour's users</h2>
    {% if selectedUser %}
        <a href="/clickhouse-analytics/index/user-journeys">Back to all users</a>
    {% else %}
    <ul>
        {% for key,userJourney in userJourneys %}
            <li><a href="/clickhouse-analytics/index/user-journeys?user={{ key }}">{{ key }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if selectedUser %}
    <h2>Journeys for <i>{{ selectedUser }}</i></h2>
        <table border="1" width="50%">
            <tr>
                <th>Timestamp</th>
                <th>Event</th>
            </tr>
        {% for event in userJourneys[selectedUser] %}
            <tr>
                <td>{{ event.timestamp }}</td>
                <td>{{ event.name }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
